@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: "Noto Sans KR", sans-serif;
}
ul,
li {
  list-style: none;
}
ul {
  padding: inline start 0px;
}
p,
input {
  margin: 0;
  padding: 0;
}
button {
  background: inherit;
  border: none;
  box-shadow: none;
}
body {
  background: #eae8fe;
}
header {
  display: flex;
  max-width: 1920px;
}
.logo {
  width: 386px;
  margin: auto;
}
section {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.left {
  width: 360px;
  background: #ffffff;
  margin-right: 28px;
}
.right {
  width: 360px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  margin-top: 31px;
}
.item {
  display: flex;
  width: 94px;
  height: 130px;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.item:nth-child(1),
.item:nth-child(5) {
  box-shadow: 0 0 0 3px #6327fe inset;
}
.item:hover {
  box-shadow: 0 0 0 3px #6327fe inset;
}
.cola_name {
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;
  color: #333333;
}
.price_button {
  width: 70px;
  height: 22px;
  background: #6327fe;
  border-radius: 50px;
  color: white;
}
.price {
  display: flex;
  margin-top: 20px;
  gap: 12px;
}
.balance-div {
  margin-left: 27px;
  width: 200px;
  height: 33px;
  background: #eae8fe;
  border-radius: 5px;
}
.balance {
  margin: 6px;
  margin-left: 10px;
  float: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.won {
  margin: 6px;
  margin-right: 10px;
  float: right;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.deposit {
  display: flex;
}
.button1 {
  width: 94px;
  height: 33px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #000000;
}
.deposit {
  display: flex;
  margin-top: 11px;
  gap: 12px;
}
input {
  margin-left: 27px;
  width: 200px;
  height: 33px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
.list {
  display: flex;
  gap: 12px;
  margin: 11px 27px;
}
.list-left {
  background: #eae8fe;
  box-sizing: border-box;
  width: 200px;
  height: 106px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  overflow-y: scroll;
}
.list-item {
  display: flex;
  height: 46px;
  background: #ffffff;
  margin: 12px;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}
.list-left::-webkit-scrollbar {
  width: 4px;
}
.list-left::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 50px;
}
.get {
  width: 94px;
  height: 106px;
  background: #6327fe;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #ffffff;
}
.list-img {
  width: 18px;
  height: 33px;
}
.count {
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}
.right {
  width: 360px;
}
.money {
  height: 50px;
  background: #ffffff;
  padding: 9px 27px;
  box-sizing: border-box;
  margin-bottom: 25px;
}
.money-div {
  background: #eae8fe;
  width: 306px;
  height: 32px;
  border-radius: 5px;
}
.total-list {
  margin-top: 20px;
  background: #fff;
  height: 474px;
}
.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  padding-top: 25px;
  text-align: center;
}
.big-list {
  width: 306px;
  height: 364px;
  background: #eae8fe;
  display: flex;
  align-items: center;
  align-items: flex-start;
  margin: 13px 27px 8px 27px;
  flex-direction: column;
  overflow-x: scroll;
}
.big-list::-webkit-scrollbar {
  width: 4px;
  height: 79px;
}
.big-list::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 50px;
}
.big-item {
  display: flex;
  width: 256px;
  height: 46px;
  margin: 12px 18px 0px 12px;
  background: #ffffff;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}
.list-group {
  display: flex;
  align-items: center;
  gap: 10.04px;
}
.total-price {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 26px;
  float: right;
  margin-right: 27px;
  color: #000000;
}
.sold-out {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  background-image: url(./images/Soldout.svg);
  background-repeat: no-repeat;
  background-position: center;

  display: flex;
  width: 94px;
  height: 130px;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
